# Enable the X11 windowing system.
services.xserver.enable = true;

# Enable the Enlightenment Desktop Environment.
services.xserver.displayManager.lightdm.enable = true;
services.xserver.desktopManager.enlightenment.enable = true;

# Enable acpid
services.acpid.enable = true;
