# Enable the X11 windowing system.
services.xserver.enable = true;

# Enable the Lumina Desktop Environment.
services.xserver.displayManager.lightdm.enable = true;
services.xserver.desktopManager.lumina.enable = true;
