i18n.extraLocaleSettings = {
  LC_ADDRESS = "@@LC_ADDRESS@@";
  LC_IDENTIFICATION = "@@LC_IDENTIFICATION@@";
  LC_MEASUREMENT = "@@LC_MEASUREMENT@@";
  LC_MONETARY = "@@LC_MONETARY@@";
  LC_NAME = "@@LC_NAME@@";
  LC_NUMERIC = "@@LC_NUMERIC@@";
  LC_PAPER = "@@LC_PAPER@@";
  LC_TELEPHONE = "@@LC_TELEPHONE@@";
  LC_TIME = "@@LC_TIME@@";
};
